.nav-icon {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.nav-icon {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.nav-icon div {
  width: 2rem;
  height: 0.25rem;
  background: #41adff;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}

.nav-icon.open div:first-child {
  transform: rotate(45deg);
}

.nav-icon.open div:nth-child(2) {
  opacity: 0;
}

.nav-icon.open div:last-child {
  transform: rotate(-45deg);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: 1px solid red;
}

.nav {
  display: flex;
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav ul li {
  margin-left: 20px;
}

@media (max-width: 768px) {
  .nav-icon {
    display: flex;
  }

  .nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
  }

  .nav ul {
    display: flex;
    flex-direction: column;
    width: 100%; /* Add this line */
    padding: 0;
  }

  .nav ul li {
    margin: 10px 0;
    text-align: center; /* Add this line */
  }

  .nav-icon.open div {
    transform: rotate(45deg);
  }

  .nav.open {
    display: flex;
  }
}
